/* 
https://v4-alpha.getbootstrap.com/
*/

body{
    background: dodgerblue;
    color: white;
    font-family: Helvetica;
}

#table {
    margin: 0 auto;
    width: 60%;
    height: 500px;
    overflow: scroll;
}